.calculator{
  width: 300px;
  background-color: black;
  padding:5px;
  border-radius: 10px;
  margin: 20px auto;
}
.btn{
  font-size: 1.5rem;
}
.btn:focus{
  background: lightblue;
  border: none;
  outline: none;
}
#calculator-display{
  background: #333;
  color:white;
  font-size: 2rem;
  height: 5rem;
  text-align: right;
  border-radius: 10px;
}
#calculator-body{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: .1rem;
  background:white;
  border-radius: 10px;
}
.span-2{
  grid-column: span 2;
}